.blog .featured ul li div p a:hover,
.blog .sidebar p a:hover, 
.blog .featured p a:hover{
  color: #c8c10d;
 }

 .blog {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 98px 0 146px;
 }

 .blog .featured {
    float: left;
    margin: 0 10px;
    padding: 10px 0px;
    width: 620px;
    background: linear-gradient(164deg, rgba(11,180,182,1) 10%, rgba(253,187,45,1) 94%);
 }
 
 .blog .featured ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
 }
 .blog_btn button.submit {
    letter-spacing: 3px;
    color:#fff;
    background: #0D0D0D;
    border: none;
    cursor: pointer;
    height: auto;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5%;
    padding:15px 15px;
    transition:.5s;
  }
  .blog_btn button.submit:hover {
    color: #0D0D0D;
    background: #fff;
  }

 .blog .featured ul li:first-child {
    margin: 0 0 50px 0;
 }
 .blog .featured ul li {
    background: url(../../../images/blogimg/bg-border.gif) no-repeat bottom center;
    float: none;
    overflow: hidden;
    padding: 0;
    width: auto;
  }
 .blog .featured ul li img {
    float: left;
    margin: 2px 0 0;
    padding: 0 30px;
    max-width: 40%;
 }
 .blog .featured ul li div {
    float: left;
    margin: 0;
    padding: 0 0 36px 10px;
    width: 370px;
 }
 .blog .featured ul li div h1 {
    color: #CB3362;
    font-family: lato-regular-webfont;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0 0 3px;
    text-align: left;
    text-transform: uppercase;
 }
 .blog .featured ul li div span {
    color: #7A6666;
    display: block;
    font-family: roboto-regular-webfont;
    font-size: 12px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0 0 24px;
    text-align: left;
    text-transform: none;
 }
 .blog .featured ul li div p {
    color: #7a6666;
    font-family: roboto-regular-webfont;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0 0 39px 0;
    text-align: left;
    width: 100%;
 }
 .blog .featured ul li div p a {
    color: #7a6666;
    font-family: roboto-regular-webfont;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-decoration: underline;
 }

 .blog .featured ul li div a.more {
    border: 2px solid #cbb5bc;
    color: #a5838e;
    display: block;
    font-family: lato-bold-webfont;
    font-size: 16px;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 156px;
 }
 .blog .featured ul li div a.more:hover {
    background-color: #c8c10d;
    border: none;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    width: 160px;
 }

 .blog .write_blog{
   margin-top:90px;
 }
 .blog .write_blog .blog_form,.blog .write_blog .blog_form h2{
    padding:10px;
    margin:10px 0px 70px 0px;
 }

 .blog .sidebar {
    background:radial-gradient(134.34% 134.34% at 50% 0%, #1f3757 0%, #131537 100%); 
    clip-path: polygon(0 0,20% 0,30% 10%,70% 10%,80% 0,100% 0,100% 100%,0 100%);
    float: left;
    margin-top: 0;
    padding: 0 0 71px;
    width: 550px;
    position: relative;
    height:100vh;  
  }
 
 .singlepost .sidebar {
    background-color: #EFEDEE;
    float: left;
    margin: 0;
    padding: 0 0 71px;
    width: 280px;
 }
 .blog .sidebar h1, .singlepost .sidebar h1 {
    color: #CB3362;
    font-family: magra-bold-webfont;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    margin:0;
    padding: 42px 0 29px;
    text-align: center;
    text-transform: capitalize;
 }
 .blog .sidebar img, .singlepost .sidebar img {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 40%;
 }
 .blog .sidebar h2, #body div.singlepost .sidebar h2 {
    color: #CB3362;
    font-family: lato-regular-webfont;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 34px 0 3px;
    text-align: center;
    text-transform: uppercase;
 }
 .blog .sidebar span, .singlepost .sidebar span {
    color: #7A6666;
    display: block;
    font-family: roboto-regular-webfont;
    font-size: 12px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0 0 24px;
    text-align: center;
    text-transform: none;
 }
 .blog .sidebar p, .singlepost .sidebar p {
    color: #7A6666;
    display: block;
    font-family: roboto-regular-webfont;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 auto;
    padding: 0 0 64px;
    text-align: center;
    text-transform: none;
    width: 200px;
 }
 .blog .sidebar p a, #body div.singlepost .sidebar p a {
    color: #7a6666;
    font-family: roboto-regular-webfont;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-decoration: underline;
 }
 .blog .sidebar a.more, .blog .sidebar button.more, .singlepost .sidebar a.more {
    border: 2px solid #d3c2c7;
    color: #a5838e;
    display: block;
    font-family: lato-bold-webfont;
    font-size: 16px;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 156px;
    text-decoration: none;
    transition: .5s;
 }
 .blog .sidebar a.more:hover, .blog .sidebar button.more:hover, .singlepost .sidebar a.more:hover {
  background: linear-gradient(90deg, rgba(27,25,172,0.7791491596638656) 2%, rgba(0,212,255,1) 84%);
  color: #ffffff;
  transition: .5s;
 }