footer .wrapper{
  margin:auto !important;
  width:unset;
  padding:"20px 0 0 0";
  text-align:center
 }
footer .upperFooter{
   background-color:#282828;  
   padding:20px 0 0 0;
   min-height:250px;
   color:whitesmoke;
   display: flex;
   align-items: center;
 }
footer .bottomFooter{
   background-color:#1A1A1A;
   min-height:50px;
   color:whitesmoke;
   margin:0;
   padding-top:20px;
 }
footer .sendIcon{
   background-color:black;
   height:25.5px;
   color:red;
   margin-left:-25px;
   margin-bottom:2px;
   border: none;
 } 
footer .footer_item h6{
 border-bottom: 5px solid crimson;
 margin:20px 35px;

}

@media only screen and (max-width: 600px) {
 footer .bottomFooter p{
  font-size: 12px;
 }
}
 


