@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap');




.bg-color{
 color: #fff;
 background-color: red;
}
.brand h2{
 color:#5814AB;
 font-family: 'MuseoModerno', cursive;
 text-shadow: 5px 4px 11px rgba(0, 0, 0, 0.26);
}