@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* .service_card_wrapper_1{
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(82,150,231,1) 100%);
}

.service_card_wrapper_1 span,
.service_card_wrapper_2 span,
.service_card_wrapper_3 span
{
  position: absolute;
  margin-top:-30px;
  color:red;
  font-weight: bold;
  transition:.5s;
}
.service_card_wrapper_1 span:hover,
.service_card_wrapper_2 span:hover,
.service_card_wrapper_3 span:hover
{
  color:#A569BD;
  font-weight: bold;
  transition:.5s;
}
.service_card_wrapper_2{
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(82,150,231,1) 100%);
}
 
.service_card_wrapper_3{
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(82,150,231,1) 100%);
}

.service_title_1,
.service_title_2,
.service_title_3{
  background:black;
  width:100%;
  height:250px;

}
   
.service_title_1{
  
  background: url('https://thumbs.dreamstime.com/z/beautifully-decorated-catering-banquet-table-different-food-snacks-appetizers-corporate-christmas-birthday-party-event-121613690.jpg') no-repeat;
  background-size: cover;
  color:indigo;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 90%, 0 50%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 90%, 0 50%);
}

.service_title_2{
  
  background: url('https://cdn5.vectorstock.com/i/1000x1000/52/74/home-delivery-services-online-delivery-concept-of-vector-30605274.jpg') no-repeat;
  background-size: cover;
  color:indigo;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 90%, 0 50%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 90%, 0 50%);
  }

.service_title_3{
  
  background: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-online-cooking-classes-1588014476.jpg') no-repeat;
  background-size: cover;
  color:indigo;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 90%, 0 50%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 90%, 0 50%);
  }

.service_details p{
  padding-bottom: 100px;
  text-align: center;
  color:white;
}

.service_details span{
  bottom:25%;
  left:40%;
}

.service_details .check_in{
color:tomato;
text-decoration: none;
font-weight: bold;
transition:.5s;
}
.service_details .check_in:hover{
  color:whitesmoke;
  transition:.5s;
}

.service_card_bottom{
 width:100%;
 margin-top:-128px;
 transition: margin-top .5s ease;
 color:black;
}
.service_card_bottom img{
  width: 100%;
  height: 200px;
  clip-path: polygon(0 3%, 50% 53%, 100% 3%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 3%, 50% 53%, 100% 3%, 100% 100%, 0 100%); 
} */




/* OUR SERVICE 2 */

.service_section_wrapper{
  border-top:1.5px solid #E2E2E3;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}
.service_section_wrapper h3{
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size:40px;
}
.service_img img{
  padding:20px 0;
}

.service_style_one{
  border-right:1.5px solid #E2E2E3;
}

.service_aside{
  background-image: url(../../../images/our_service/sidebar_img_2.JPG);
  color:whitesmoke;
  padding:20px 20px;
  text-align: center;
}
.service_aside h4{
  color:crimson;
  font-family: 'Dancing Script', cursive;
  padding-bottom:10px;
}
.service_style_one span{
  font-size: 15px;
}
.service_aside span{
  font-size: 12px;
}


@media only screen and (max-width: 800px) {
  .display-1 {
    display: none;   
}
.service_style_one{  
  border-right:none;
}
.service_section_wrapper{
  border-top:none;
}
}
 
@media screen and (min-width: 600px) and (max-width:967px){}
 
@media screen and (min-width: 967px) and (max-width:1260px){}