.my_search .MuiAppBar-colorPrimary{
  border-radius: 20px;
 
}
.my_search .MuiAppBar-colorPrimary:hover{
  box-shadow: 0px 0px 5px 5px rgba(194,194,194,0.98);
  transition: .5s ease-in-out;
}

/*! back to top button start */

.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  left: 25px;
  bottom: 15px;
  background: #149ddd;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
  transition: .5s;
}

.back-to-top:hover {
  color: #fff;
  background: crimson;
  transition: .5s;
}
/*! back to top button end */


.deviceMenu{
  display: none;
}
.cartDisp{
  display: none !important;
 }



@media only screen and (max-width: 900px) {
  .deviceMenu{
    display: block;
    position: fixed;
    right:0;
    z-index: 99999;

  }
  .desk_menu{
    display:none;
  }
  .responsive_dashboard{
    padding:25px;
  }
  .responsive_dashboard .dashboard_header{
    display:none;
  }
  .cartDisp{
    display: block !important;
   }
   .back-to-top i {

   }
}
.shadow{
  border:2px solid black;
}


