

.Food_style_device h1{
 text-align: center;
 text-shadow: 5px 4px 11px rgba(0, 0, 0, 0.26);
 color: #fd5c63;
 margin-top:5rem;
}

.my_search .MuiToolbar-regular {
 min-height: 20px;
}
.my_search .MuiAppBar-colorPrimary{
 color:black !important;
 background-color:white !important;

}